<script setup lang="ts">
import { ref,onMounted, watch } from 'vue'
import { storeToRefs } from 'pinia';
import { useStore } from '../stores/store'
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

const marks: number[] = [1, 16, 32, 64, 128];
const store = useStore();
const { getHorizontalCells, getVerticalCells } = storeToRefs(store);

let maintainAspectRatio = ref<boolean>(true);

watch(getHorizontalCells, () => {
    if (maintainAspectRatio.value) {
        store.setVerticalCells(store.getHorizontalCells);
    }
});
watch(getVerticalCells, () => {
    if (maintainAspectRatio.value) {
        store.setHorizontalCells(store.getVerticalCells);
    }
});
watch(maintainAspectRatio, () => {
    if (maintainAspectRatio.value === true) {
        store.setHorizontalCells(Math.min(store.getHorizontalCells, store.getVerticalCells));
        store.setVerticalCells(Math.min(store.getHorizontalCells, store.getVerticalCells));
    }
});
</script>

<template>
    <div class="wrapper">
        <div class="colour-picker">
            <!-- <ColorPicker theme="light" :color="store.settings.primaryColour" :sucker-hide="true" @changeColor="changeColour" /> -->
            <color-picker v-model:pureColor="store.settings.primaryColour" :isWidget="true" :disableAlpha="true"/>
        </div>

        <div class="gridSize">
            <div class="height">
                <label for="height">Height</label>
                <vue-slider id="height" v-model="store.settings.verticalCells" :min="1" :max="store.settings.maxSize" :interval="1" :lazy="true" :contained="true" :marks="marks" />
            </div>
            <div class="width">
                <label for="width">Width</label>
                <vue-slider id="width" v-model="store.settings.horizontalCells" :min="1" :max="store.settings.maxSize" :interval="1" :lazy="true" :contained="true" :marks="marks" />
            </div>
            <div class="aspect">
                <!-- <label for="checkbox">Maintain Aspect Ratio</label> -->
                <!-- <input type="checkbox" id="checkbox" v-model="maintainAspectRatio"> -->

                <div>Maintain Aspect Ratio</div>
                <label class="switch">

                    <input type="checkbox" id="checkbox" v-model="maintainAspectRatio">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div>Brush Size</div>
        <div class="brush-size">
            <label>
                <input type="radio" name="radio" value="1" v-model="store.settings.brushSize" />
                <span>1</span>
            </label>
            <label>
                <input type="radio" name="radio" value="4" v-model="store.settings.brushSize" />
                <span>4</span>
            </label>
            <label>
                <input type="radio" name="radio" value="9" v-model="store.settings.brushSize" />
                <span>9</span>
            </label>
        </div>


        <div class="buttons">
            <button @click="store.toggleGrid()" style="background-color:#2196F3">Toggle grid</button>
            <button @click="$emit('clearCanvas')" style="background-color:#f14e4e">Clear Canvas</button>
        </div>
        <hr>
        <div class="hints">
            <p>Use the colour selector to pick a colour, then start drawing!</p>
            <p>Left click to draw, right click to erase!</p>
            <p>ctrl+z to undo and ctrl+y to redo.</p>
            <p>ctrl+click to copy the highlighted colour on the canvas.</p>
        </div>

    </div>
</template>

<style lang="scss" scoped>
$primary-color: #2196F3;


.wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: white;

    .colour-picker {
        width: 100%;
    }

    .gridSize {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;

        .width,
        .aspect {
            margin-top: 35px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;

            input {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked+.slider {
                    background-color: #2196F3;
                }

                &:focus+.slider {
                    box-shadow: 0 0 1px #2196F3;
                }

                &:checked+.slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;

                &:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                &.round {
                    border-radius: 34px;
                }

                &.round:before {
                    border-radius: 50%;
                }
            }
        }
    }

    .brush-size {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        label {
            display: flex;
            cursor: pointer;
            font-weight: 500;
            position: relative;
            overflow: hidden;
            margin-bottom: 0.375em;

            input {
                position: absolute;
                left: -9999px;

                &:checked+span {
                    background-color: mix(#fff, $primary-color, 50%);

                    &:before {
                        box-shadow: inset 0 0 0 0.4375em $primary-color;
                    }
                }
            }

            span {
                display: flex;
                align-items: center;
                padding: 0.375em 0.75em 0.375em 0.375em;
                border-radius: 99em;
                transition: 0.25s ease;

                &:hover {
                    background-color: mix(#fff, $primary-color, 84%);
                }

                &:before {
                    display: flex;
                    flex-shrink: 0;
                    content: "";
                    background-color: #fff;
                    width: 1.5em;
                    height: 1.5em;
                    border-radius: 50%;
                    margin-right: 0.375em;
                    transition: 0.25s ease;
                    box-shadow: inset 0 0 0 0.125em $primary-color;
                }
            }
        }
    }

    .buttons {
        margin-top: 25px;

        button {
            display: inline-block;
            padding: 0.3em 1.2em;
            margin: 0 0.1em 0.1em 0;
            border: 0.16em solid rgba(255, 255, 255, 0);
            border-radius: 2em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: #FFFFFF;
            text-align: center;
            transition: all 0.2s;

            &:hover {
                border-color: rgba(255, 255, 255, 1);
            }
        }
    }

    hr {
        width: 100%;
        color: grey;
    }
}
</style>
