<script setup lang="ts">

</script>

<template>
    <header>
        <h2>Pixel Art Creator</h2>
        <div class="name">
            <h3>by Alex Tompkins</h3>
        </div>
    </header>
</template>

<style lang="scss" scoped>
header {
    display: flex;
    align-items: center;
    padding: 0px 25px;
    height: 60px;
    background: #15202B;

    h2 {
        font-size: 32px;
        font-weight: 900;
        color: white;
    }

    .name {
        margin-top: 12px;
        margin-left: 5px;
        h3 {
            color: white;
            font-size: 16px;
        }
    }

}
</style>