<script setup lang="ts">
import PixelCanvas from './components/PixelCanvas.vue'
import Header from './components/Header.vue'
</script>

<template>
  <div class="app">
    <div class="header">
      <Header />
    </div>
    <div class="content">
      <PixelCanvas />
    </div>
  </div>
</template>

<style lang="scss">
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;

  .content {
    box-sizing: content-box;
    flex: 1;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 94vh;
    // gap: 15px;
    // flex-direction: row;
    background-color: #2f4255;
  }
}
</style>
